%section#portfolio.content-section{style: "background-color: pink"}
  .container
    .content-section-heading.text-center
      %h3.mb-0 Portfolio
      %h2.mb-5 個人開発
    .row.no-gutters
      .col-lg-6
        %a.portfolio-item{:href => "/1"}
          %span.caption
            %span.caption-content
              %h1 Wish List
              %p.mb-0 やりたい事、欲しいものを管理、公開できるサイト
          %img.img-fluid{:alt => "", :src => "/assets/img/portfolio-1.jpg"}/
      .col-lg-6
        %a.portfolio-item{:href => "/2"}
          %span.caption
            %span.caption-content
              %h1 Line Bot
              %p.mb-0 雨の日とゴミの日を教えてくれるBOT
          = image_tag "img/portfolio-2.jpg", class: "img-fluid"

%section#portfolio.content-section{style: "background-color: pink"}
  .container
    .content-section-heading.text-center
      %h3.mb-0 Portfolio
      %h2.mb-5 チーム開発
    .row.no-gutters
      .col-lg-6
        %a.portfolio-item{:href => "/3"}
          %span.caption
            %span.caption-content
              %h1 メルカリのコピーサイト
              %p.mb-0 スクールの課題で作成
          %img.img-fluid{:alt => "", :src => "/assets/img/portfolio-3.jpg"}/
