%body#page-top
  / Navigation
  %a.menu-toggle.rounded{href:"#"}
    %i.fas.fa-bars
  %nav#sidebar-wrapper
    %ul.sidebar-nav
      %li.sidebar-brand
        %a.js-scroll-trigger{:href => "#page-top"} Start Bootstrap
      %li.sidebar-nav-item
        %a.js-scroll-trigger{:href => "#page-top"} Home
      %li.sidebar-nav-item
        %a.js-scroll-trigger{:href => "#about"} About
      %li.sidebar-nav-item
        %a.js-scroll-trigger{:href => "#portfolio"} Portfolio
      %li.sidebar-nav-item
        %a.js-scroll-trigger{:href => "#contact"} Contact

  / Header
  %header.masthead.d-flex
    .container.text-center.my-auto
      %h1.mb-1 MASATO YAKUSHIGAWA
      %h3.mb-5
        %em masato yakushigawa's portfolio
      %a.btn.btn-primary.btn-xl.js-scroll-trigger{:href => "#about", style:"font-size: 16px"} WHO's ME
    .overlay

  / About
  %section#about.content-section.bg-light
    .container.text-center
      .row
        .col-lg-10.mx-auto
          %h3 ABOUT
          %em
          %h1{style: "font-size: 50px"} 自己紹介 
          .row
            .col-lg-6.col-xm-6
              =image_tag "my_pict.jpg", {style: "width: 50%; border-radius: 50%", class: "img-fluid"}
            .col-lg-6
              %ul.intro{style: "font-size: 20px"}
                %li 名前：薬師川 眞人（Masato Yakushigawa）
                %li 1991年生まれ　28歳
                %li 出身：大阪府
                %li 学歴：同志社大学 スポーツ健康科学部 卒
                %li 経歴：2015年4月〜　新卒としてスポーツ用品のメーカー兼代理店で4年間営業として勤務。
                2019年3月〜　web業界に興味を持ち、webスクール（TECH::EXPERT）で学ぶ。
        .col-lg-10.mx-auto.skill-set{style: "border-bottom: none"}
          %h1{style: "font-size: 50px; margin-bottom:10px"} スキルセット 
          .row
            .col-lg-12.col-xm-6
              %table.skill-table
                %tr
                  %th{style:"min-width: 100px"}言語
                  %td Ruby
                  %td CSS（scss）
                  %td HTML（haml）
                  %td JavaScrit
                %tr
                  %th FW
                  %td Rails
                  %td jQuery
                %tr
                  %th 開発環境
                  %td Nginx
                  %td Puma
                  %td Unicorn
                %tr
                  %th その他
                  %td MySQL
                  %td heroku
                  %td AWS EC2
                  %td
                    %a{href:"https://github.com/MASATO-YAKUSHIGAWA",  target:"_blank", rel:"noopener"}GitHub

      %a.btn.btn-dark.btn-xl.js-scroll-trigger{:href => "#portfolio", style:"font-size: 16px"} 制作実績

  / Portfolio
  = render 'portfolios/portfolio'

  / Footer
  = render "portfolios/footer"
