body{
  font-family: 'Source Sans Pro';
}
// ヘッダー
.masthead.d-flex{
  background-image: url(image_path('bg-callout_min.jpg'));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .headfont{
    font-weight: 700;
    font-size: 88px;
    color: black;
    }
  .headfont-2{
    font-weight: 700;
    font-size: 28px;
    color: black;
  }
  @media screen and (max-width: 640px) {
    .headfont{
      font-weight: 700;
      font-size: 88px;
      color: white;
      }
    .headfont-2{
      font-weight: 700;
      font-size: 28px;
      color: white;
    }
  }
}

// 自己紹介

#about{
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

// ポートフォリオ
.portfolio-header{
  background-color: #1d809f;
}
.pf-title{
  margin-top: 8px;
  color: white;
  font-weight: 700;
}
.second-title{
  color: white;
  margin-bottom: 5px;
}
#portfolio-discription{
  background-color: white;
  margin-top: 20px;
}
.discription-table{
  font-size: 20px;
}
.discription-table th{
  padding: .75rem;
  vertical-align: top;
  border-bottom: 1px solid #dee2e6;
}
.discription-table td{
  padding: .75rem;
  vertical-align: top;
  border-bottom: 1px solid #dee2e6;
}
@media screen and (max-width: 640px) {
  .last_pf_table td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }
  .discription-table {
    width: 100%;
  }
  .discription-table th{
    background-color: lightgrey;
    border-bottom: none;
    display: block;
    width: 100%;
  }
  .discription-table td {
　　border-bottom: none;
    display: block;
    width: 100%;
  }
}

// キャプチャ
#portfolio-capture{
  .container{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .row{
    display: inline;
  }
  #portfolio-capture p{
    margin-bottom: 0;
    font-size: 16px;
  }
  .col-lg-3{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    p{
      margin-bottom: 0;
      font-size: 16px;
    }
  }
  .col-lg-6{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    p{
      margin-bottom: 0;
      font-size: 16px;
    }
  }
 .row::after{
   content: none;
 }
 .row::before{
  content: none;
}
  .img-fluid{
    border: 1px solid  #dee2e6;
  }
}

// 自己紹介
#about{
  .intro{
    text-align: left;
  }
  .mx-auto{
    border-bottom: 2px solid #dee2e6;
  }
}

// スキルセット
.skill-set{
  margin-top: 20px;
  margin-bottom: 20px;
  .skill-table{
    font-size: 20px;
    width: 100%;
  }
  .skill-table td{
    padding: .75rem;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
  }
  .skill-table th{
    padding: .75rem;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
    text-align: left;
  }
}
@media screen and (max-width: 640px) {
  .last_skill_table td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }
  .skill-table {
    width: 80%;
  }
  .skill-table th{
    background-color: lightgrey;
    border-bottom: none;
    display: block;
    width: 100%;
  }
  .skill-table td {
　　border-bottom: none;
    display: block;
    width: 100%;
  }
}


